<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Create a new Acount</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
  </mat-card-content>
  <mat-card-actions>
<div class="formGroup">
  <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
</div>

<div class="formGroup">
  <input type="password" class="formControl" placeholder="Password" #userPwd required>
</div>

<div class="formGroup">
  <input type="button" class="btn btnPrimary" value="Sign Up"
    (click)="authService.SignUp(userEmail.value, userPwd.value)">
</div>
<div class="redirectToLogin">
  <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
</div>s
  </mat-card-actions>
</mat-card> -->

<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="/register-user">Register</a>
     <a mat-button routerLink="/sign-in">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>