



    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign in to your Account</mat-card-title>
          </mat-card-header>
    
    </mat-card>

    <mat-card class="card">
      <mat-card-content>
        <div class="card-container">
           
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email address" type="text" formControlName="email" #email required>
            </mat-form-field>
  
            <mat-form-field>
                <input matInput placeholder="Enter your password" type="password" formControlName="password" #password required>
            </mat-form-field>
  
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button  (click)="authService.SignIn(email.value, password.value)" mat-raised-button color="primary" >Login</button>
      </mat-card-actions>
    </mat-card>
 
  